<header class="bg-white shadow-md">
  <div class="container mx-auto px-6 py-6 flex justify-between items-center">
    <!-- Logo -->
    <a href="/" class="text-2xl font-bold text-gray-700">
      <!-- <img src="../../../../assets/logo.png" alt="Logo" class="h-10 inline-block" /> -->
       <h3>
        Personality Test
       </h3>
    </a>

    <!-- Navigation Menu -->
    <nav>
      <ul class="flex space-x-4">
        <li>
          <a href="#" class="px-4 py-2 text-gray-700 hover:bg-indigo-500 hover:text-white rounded">Home</a>
        </li>
        <li>
          <a href="#" class="px-4 py-2 text-gray-700 hover:bg-indigo-500 hover:text-white rounded">About</a>
        </li>
        <li>
          <a href="#" class="px-4 py-2 text-gray-700 hover:bg-indigo-500 hover:text-white rounded">Services</a>
        </li>
        <li>
          <a href="#" class="px-4 py-2 text-gray-700 hover:bg-indigo-500 hover:text-white rounded">Contact</a>
        </li>
      </ul>
    </nav>

  </div>

</header>