<header class="bg-white shadow-md">
  <div class="container mx-auto px-6 py-6 flex justify-between items-center text-black">
    <!-- Logo -->
    <a href="/" class="text-2xl font-bold">
      <!-- <img src="../../../../assets/logo.png" alt="Logo" class="h-10 inline-block" /> -->
       <h3>
        Personality Test
       </h3>
    </a>

    <!-- Navigation Menu -->
    <nav>
      <ul class="flex space-x-4">
        <li>
          <a href="#" class="px-4 py-2 text-gray-700 hover:text-white rounded
          transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 duration-300">Home</a>
        </li>
        <li>
          <a href="#" class="px-4 py-2 transition ease-in-out delay-150
                hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 duration-300 hover:text-white rounded">About</a>
        </li>
        <li>
          <a href="#" class="px-4 py-2 transition ease-in-out delay-150 
              hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 duration-300 hover:text-white rounded">Personality Test</a>
        </li>
        <li>
          <a href="#" class="px-4 py-2 transition ease-in-out delay-150
              hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 duration-300 hover:text-white rounded">Contact</a>
        </li>
      </ul>
    </nav>

  </div>

</header>