<div class="my-3">
  <h2>{{hello}}</h2>
  <input type="text" id="inputbox">
<button type="submit" (click)="click()">click</button>

  <br />
<!-- 
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">Example 1 (OF)</div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <p class="border rounded bg-light py-2 px-3">
                <strong>Data : </strong>of('Saumya','Rakesh','Gayatri')
              </p>

              <ul id="elContainer"></ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">Example 2 (OF)</div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <p class="border rounded bg-light py-2 px-3">
                <strong>Data : </strong>of(&#123;a: 'Saumya',b: 'Rakesh',c:
                'Gayatri'&#125;)
              </p>

              <ul id="elContainer1">
                <li><strong>a : </strong>{{ obs2essage.a }}</li>
                <li><strong>b : </strong>{{ obs2essage.b }}</li>
                <li><strong>c : </strong>{{ obs2essage.c }}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">Example 3 (FROM)</div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <p class="border rounded bg-light py-2 px-3">
                    <strong>Data : </strong>of(&#123;a: 'Saumya',b: 'Rakesh',c:
                    'Gayatri'&#125;)
                </p>
                <ul id="elContainer2"></ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    
  </div> -->
</div>
