<div class="my-3 mx-3">
  <div class="row mainContainer">
      <div class="col-md-2">
        <div class="card">
          <div class="card-body">
            <a routerLink="fromEvent">From Event</a>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card">
          <div class="card-body">
            <a routerLink="interval">Interval & Timer</a>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card">
          <div class="card-body">
            <a routerLink="ofFrom">Of and From</a>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card">
          <div class="card-body">
            <a routerLink="fromEvent">From Event</a>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card">
          <div class="card-body">
            <a routerLink="fromEvent">From Event</a>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card">
          <div class="card-body">
            <a routerLink="fromEvent">From Event</a>
          </div>
        </div>
      </div>
  </div>
</div>
