<div class="container w-screen rounded-lg shadow-lg text-center text-white">
    <span class="text-white text-base">
        <br>
        Get ready for 25 quirky multiple-choice questions! 🎉 <br>
        Your answers will unlock fascinating insights into your personality. <br>
        But hey, don’t take it too seriously—it’s all in good fun! 😉<br>
    </span> <br>
    
    <div class="flex flex-col items-center justify-center">
        <!-- Question Display -->
         <br>
        <div class="w-full max-w-xl bg-white text-black shadow-md rounded-lg py-6">
          <h2 class="text-xl font-bold text-center ">
            Question {{currentQuestionIndex + 1}} of {{questions.length}}
          </h2>
          <p class="text-gray-700 text-lg text-center">{{ currentQuestion.text }}</p>
          
          <div class="flex flex-col space-y-4 py-2 w-40  mx-10">
            <button
              *ngFor="let option of currentQuestion.options"
              (click)="selectOption(option.trait)"
              class="text-black py-2 px-4 rounded-lg hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-300"
            >
              {{ option.text }}
            </button>
          </div>
        </div>
      
        <!-- Navigation Arrows -->
        <!-- <div class="flex justify-between w-full max-w-xl">
          <button
            [disabled]="currentQuestionIndex === 0"
            (click)="previousQuestion()"
            class="bg-gray-400 text-white py-2 px-4 rounded-lg hover:bg-gray-500 disabled:opacity-50"
          >
            Previous
          </button>
      
          <button
            [disabled]="currentQuestionIndex === questions.length - 1"
            (click)="nextQuestion()"
            class="bg-green-500 text-white py-2 px-4 rounded-lg hover:bg-green-600 disabled:opacity-50"
          >
            Next
          </button>
        </div> -->

        <!-- <div class="">
            <button
              (click)="submitQuiz()"
              class="w-full py-2 bg-blue-500 text-white font-bold rounded-md hover:bg-blue-600"
            >
              Submit
            </button>
        </div> -->

      </div>      

</div>