<div id="home-container">
  <!-- <div id="logo">
      <img src="../../../assets/logo.png" alt="Logo">
    </div> -->

  <div id="heading">
    <h1>ONLY ENTERTAINMENT</h1>
  </div>
  <div id="desc">
    <p>
      Only Entertainment is online aggregator of movie and TV show reviews from
      critics, we provide fans with a comprehensive guide to what is Fresh in
      theaters and at home. With Only Entertainment you can filter your results
      by genre and see streaming options for romance, action, thriller,
      musicals, comedy, and fourteen other genres. If you are an entertainment
      fan looking for a recommendation, or to share an opinion, you have come to
      the right place.
    </p>
  </div>
</div>
